/*This is main stylesheet*/
/*colour scheme*/
/*red #F83603*/ 
/*beige #D9D0C1*/
/*cream #D9D6D2*/ 
/*green #0CF25D*/ 
/*light blue #DEEFE7*/ 
/*grey #CACACA*/ 
/*black #202022*/

.beige {background-color:#D9D0C1;}
.red {color:#F83603;}
.grey {background-color:#CACACA;}
.black {color:#202022;}
.cream {color:#D9D6D2;}
.green {color:#0CF25D;}